* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

main {
    width: 100%;
    padding: 100px 0;
}

.container {
    max-width: 978px;
    margin: auto;
    padding: 0 32px;
    line-height: 1.5;
}

.container h2 {
    padding-bottom: 20px;
    line-height: 1.5;
}

.container h2:not(:first-child) {
    padding-top: 50px;
}

.container p {
    padding: 10px 0;
}